<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boston Data Home</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
    <h1>Please enter the numbers</h1>
    <form action="/predict" method="POST">
        <label for="CRIM">Enter CRIM value</label>
        <input type="text" name="CRIM" id='CRIM' placeholder="CRIM" required="required" />
        <br>
        <br>
        <label for="ZN">Enter ZN value</label>
        <input type="text" name="ZN" id='ZN' placeholder="ZN" required="required" />
        <br>
        <br>
        <label for="INDUS">Enter INDUS value</label>
        <input type="text" name="INDUS" id='INDUS' placeholder="INDUS" required="required" />
        <br>
        <br>
        <label for="CHAS">Enter CHAS value</label>
        <input type="text" name="CHAS" id='CHAS' placeholder="CHAS" required="required" />
        <br>
        <br>
        <label for="NOX">Enter NOX value</label>
        <input type="text" name="NOX" id='NOX' placeholder="NOX" required="required" />
        <br>
        <br>
        <label for="RM">Enter RM value</label>
        <input type="text" name="RM" id='RM'placeholder="RM" required="required" />
        <br>
        <br>
        <label for="AGE">Enter AGE</label>
        <input type="text" name="AGE" id='AGE' placeholder="AGE" required="required" />
        <br>
        <br>
        <label for="DIS">Enter DIS value</label>
        <input type="text" name="DIS" id='DIS' placeholder="DIS" required="required" />
        <br>
        <br>
        <label for="RAD">Enter RAD value</label>
        <input type="text" name="RAD" id='RAD' placeholder="RAD" required="required" />
        <br>
        <br>
        <label for="TAX">Enter TAX value</label>
        <input type="text" name="TAX" id='TAX' placeholder="TAX" required="required" />
        <br>
        <br>
        <label for="PTRATIO">Enter PTRATIO value</label>
        <input type="text" name="PTRATIO" id='PTRATIO' placeholder="PTRATIO" required="required" />
        <br>
        <br>
        <label for="B">Enter B value</label>
        <input type="text" name="B" id='B' placeholder="B" required="required" />
        <br>
        <br>
        <label for="LSTAT">Enter LSTAT value</label>
        <input type="text" name="LSTAT" id='LSTAT' placeholder="LSTAT" required="required" />
        <br>
        <br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Price</button>
    </form>
</div>

</body>
</html>